body {
  background: rgb(247, 234, 212);
}

h1 {
  font-family: "Vujahday Script", cursive;
  font-size: 3rem;
  margin-left: 1.66%;
  margin-right: 1.66%;
  color: #333;
  border-bottom: 2px solid rgb(223, 214, 178);
}

.imgs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  width: 29%;
  min-width: 330px;
  margin: 1.66%;
  border-radius: 15px;
  border: 1px inset #ccc;
  transition: transform 0.8s;
}

img:hover {
  transform: scale(1.1);
}
